{
  "extends": ["stylelint-config-standard", "stylelint-a11y/recommended"],
  "plugins": ["stylelint-a11y", "stylelint-order"],
  "rules": {
    "number-leading-zero": "never",
    "selector-class-pattern": null,
    "a11y/no-text-align-justify": true,
    "a11y/no-obsolete-element": true,
    "a11y/no-obsolete-attribute": true,
    "a11y/content-property-no-static-value": true,
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "order/properties-order": [
      "top",
      "bottom",
      "right",
      "left",
      "width",
      "height",
      "margin",
      "padding",
      "color",
      "text-align",
      "text-decoration",
      "font-size",
      "font-weight",
      "border",
      "border-radius"
    ]
  }
}
